body {
	font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(bliss.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}
div.menu
{
    position: fixed;
    bottom: 30px;
    border-left: solid 1px #1854c2;
    border-right: solid 1px #1854c2;
    border-radius: 5px 5px 0px 0px;
    width: 40%;
    max-width: 380px;
    height: 80%;
    max-height: 620px;
    display: none;
    z-index: 100;
}
div.menutopbar
{
    background: linear-gradient(to bottom, #225cc5 0%,#74abe8 1%,#1a69d2 2%,#1a69d2 2%,#1a69d2 12%,#4792ec 100%);
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 12%;
}
hr.menuorangegradient
{
    background: linear-gradient(to right, #ced5df 0%,#ff8819 49%,#ced5df 100%);
    margin: 0;
    border: 0;
    height: 2px;
}
div.menucontents
{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background: #092e51;
}
div.menuleft
{
    background-color:white;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 82%;
    float: left;
}
div.menuright
{
    background-color:#d3e5fa;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 82%;
    float: right;
}
div.menuitem
{
    display: inline-block;
    box-sizing: border-box;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    user-select: none;
    width: 100%;
}
div.menuitem:hover
{
    background-color: #6199dd;
}
img.menuitemicon
{
    display: inline-block;
    float: left;
}
div.menuitemtext
{
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    display: inline-block;
    margin-left: 10px;
}
span.menuitemtitle
{
    font-size: 10px;
    font-weight: bold;
}
span.menuitemsubtext
{
    font-size: 10px;
    color:#808080;
}
div.menubottombar
{
    background: linear-gradient(to bottom, #438be3 0%,#0c56c0 100%);
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 7%;
    position: relative;
    bottom: 0px;
}
div.mainwindow
{
    /* width: 80%; */
    max-width: 800px;
    /* height: 70%; */
    max-height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
}
div.windowtopbar
{
    background: linear-gradient(to bottom, #4993e6 7%,#2257d5 16%,#2257d5 84%,#1941a5 100%);
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    user-select: none;
    color: white;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 6px;
}
div.windowXbutton
{
    background: linear-gradient(to right, #efa391 0%,#7d2b18 100%);
    background: linear-gradient(to bottom, #efa391 0%,#7d2b18 100%);
    display: inline-block;
    box-sizing: border-box;
    float: right;
    margin-right: 5px;
    height: 21px;
    width: 21px;
    border: solid 1px white;
    border-radius: 2px;
    color: white;
    text-align: center;
    font-size: 14pt;
}
div.windowcontent
{
    background-color: white;
    border: solid 2px #293891;
    height: 100%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
div.bottombar
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4993e6+7,2257d5+16,2257d5+84,1941a5+100 */
    background: #4993e6; /* Old browsers */
    background: linear-gradient(to bottom, #4993e6 7%,#2257d5 16%,#2257d5 84%,#1941a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 100;
    height: 30px;
    bottom: 0;
    margin: 0;
    width: 100%;
}
div.menubutton
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#062606+1,1b881b+6,1b881b+93,1a5f1b+100 */
    background: #062606; /* Old browsers */
    background: linear-gradient(to bottom, #084308 1%,#1b881b 6%,#1b881b 93%,#1a5f1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right, #084308 1%,#1b881b 6%,#1b881b 93%,#1a5f1b 100%);
    border: solid 1px #0b5125;
    border-radius: 5px 5px / 0px 15px 15px 0px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    width: 96px;
    height: 30px;
    padding: 3px;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    user-select: none;
}
div.taskbar
{    display: inline-block;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 70%;
    height: 100%;
    padding: 5px;
    margin: 0;
}
div.clocktray
{
    /* Permalink - use to edit and share this gradrelativeient: http://colorzilla.com/gradient-editor/#19bbf4+4,1499ed+15,1499ed+92,095bc9+100 */
    background: #19bbf4; /* Old browsers */
    background: linear-gradient(to bottom, #19bbf4 4%,#1499ed 15%,#1499ed 92%,#095bc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 5px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    max-width: 130px;
    height: 30px;
    text-align: right;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-left: solid 1px #092e51;
}
#clock
{
    font-size: 10px;
    font-smooth: never;
    -webkit-font-smoothing : none;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
}
span.vr
{
    border-right: solid 1px white;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
img.profileicon
{
    border-radius: 2px;
    border: solid 1px white;
    margin: 6px;
}
div.spreadsheetview
{
    padding: 20px;
    width: 100%
    height: 100%;
    background-color: #ece9d8;
}
table.spreadsheetview
{
    width: 100%;
    border: ridge 2px #c8d5e2;
    background-color: #fefefe;
    border-collapse: collapse;
    font-size: 12px;
}
th
{
    font-weight: normal;
    text-align: left;
    padding-left: 8px;
    background-color: #ebeadb;
    border: ridge 2px #cfcbbb;
}
td
{
    border: solid 1px #f0eddf;
    padding-left: 4px;
}
a {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    border: solid 1px gray;
    background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
}
button {
    border: solid 1px #1c3f72;
    border-radius: 4px;
    background: linear-gradient(to bottom, #f7fbfd 0%,#f7fbfd 88%,#d5cdc3 100%);
    background: linear-gradient(to right, #f7fbfd 0%,#f7fbfd 93%,#d5cdc3 100%);
    color: black;
    height: 16px;
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
div.yesnowindow {
    font-size: 12px;
    text-align: center;
    width: 200px;
    height: 60px;
}
div.editorderwindow {
    width: 400px;
}
input.tableinputfield {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}
